name: Build and Release .deb Package

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y dpkg curl unzip python3-venv

      - name: Extract VERSION from DEBIAN/control
        id: extract_version
        run: |
          VERSION=$(grep '^Version:' DEBIAN/control | cut -d ' ' -f 2)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "Extracted VERSION: $VERSION"

      - name: Build .deb package
        run: |
          dpkg-deb --build . "multikube_${{ env.VERSION }}.deb"

      - name: Upload .deb package to workspace
        uses: actions/upload-artifact@v3
        with:
          name: multikube_${{ env.VERSION }}.deb
          path: multikube_${{ env.VERSION }}.deb

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download .deb package from workspace
        uses: actions/download-artifact@v3
        with:
          name: multikube_${{ needs.build.outputs.VERSION }}.deb
          path: .

      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.sha }}
          release_name: Release ${{ needs.build.outputs.VERSION }}
          body: 'New release of multikube version ${{ needs.build.outputs.VERSION }}'
          draft: false
          prerelease: false

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./multikube_${{ needs.build.outputs.VERSION }}.deb
          asset_name: multikube_${{ needs.build.outputs.VERSION }}.deb
          asset_content_type: application/octet-stream
