name: Build and Release .deb Package

on:
  push:
    tags:
      - '*'  # This will trigger the workflow for any tag

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Fetch all history since dealing with tags

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y dpkg curl unzip python3-venv

      - name: Print GITHUB_REF
        run: echo "GITHUB_REF: $GITHUB_REF"

      - name: Extract VERSION
        run: |
          VERSION=$(echo $GITHUB_REF | sed 's|refs/tags/||')
          echo "Extracted VERSION: $VERSION"

      - name: List directory contents
        run: ls -lR multikube/

      - name: Build .deb package
        run: |
          sed -i "s@^Version: .*@Version: $VERSION@" multikube/DEBIAN/control
          dpkg-deb --build multikube "multikube_${VERSION}.deb"

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: "./multikube_${VERSION}.deb"
          asset_name: "multikube_${VERSION}.deb"
          asset_content_type: application/octet-stream

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
